@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

article,
section{
	break-after: page;
}

/* Headers not in ToC */
header{
	font-variant: small-caps;
	margin: 1em;
	text-align: center;
}
/* End headers not in ToC */

/* All bridgeheads */
[epub|type~="bridgehead"]{
	display: inline-block;
	font-style: italic;
	max-width: 60%;
	text-align: justify;
	text-indent: 0;
}

[epub|type~="bridgehead"] i{
	font-style: normal;
}

[epub|type~="z3998:poem"] [epub|type~="bridgehead"]{
	text-align: justify;
}
/* End all bridgeheads */

/* Centered dedications */
div[epub|type~="dedication"],
section[epub|type~="dedication"]{
	text-align: center;
}

div[epub|type~="dedication"] > *,
section[epub|type~="dedication"] > *{
	display: inline-block;
	margin: auto;
	margin-top: 3em;
	max-width: 80%;
}

@supports(display: flex){
	div[epub|type~="dedication"],
	section[epub|type~="dedication"]{
		align-items: center;
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		justify-content: center;
		min-height: calc(98vh - 3em);
		padding-top: 3em;
	}

	div[epub|type~="dedication"] > *,
	section[epub|type~="dedication"] > *{
		margin: 0;
	}

	div[epub|type~="dedication"] header,
	section[epub|type~="dedication"] header{
		margin-bottom: 1em;
	}

	div[epub|type~="dedication"] footer,
	section[epub|type~="dedication"] footer{
		align-self: flex-end;
		text-align: right;
	}
}
/* End centered dedications */

/* Poem, verse */
[epub|type~="z3998:poem"] p,
[epub|type~="z3998:verse"] p{
	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:poem"] p + p,
[epub|type~="z3998:verse"] p + p{
	margin-top: 1em;
}

[epub|type~="z3998:poem"] p > span,
[epub|type~="z3998:verse"] p > span{
	display: block;
	padding-left: 1em;
	text-indent: -1em;
}

[epub|type~="z3998:poem"] p > span + br,
[epub|type~="z3998:verse"] p > span + br{
	display: none;
}

[epub|type~="z3998:poem"] header p,
[epub|type~="z3998:verse"] header p,
[epub|type~="z3998:poem"] hgroup p,
[epub|type~="z3998:verse"] hgroup p{
	text-align: center;
}

p span.i1{
	padding-left: 2em;
	text-indent: -1em;
}

p span.i2{
	padding-left: 3em;
	text-indent: -1em;
}

p span.i3{
	padding-left: 4em;
	text-indent: -1em;
}

p span.i4{
	padding-left: 5em;
	text-indent: -1em;
}

p span.i5{
	padding-left: 6em;
	text-indent: -1em;
}

p span.i6{
	padding-left: 7em;
	text-indent: -1em;
}

p span.i7{
	padding-left: 8em;
	text-indent: -1em;
}

.dl2 span:first-child{
	vertical-align: 100%;
}
/* End poem, verse */

/* Footers */
footer [epub|type~="z3998:signature"]{
	font-variant: small-caps;
}

[epub|type~="z3998:poem"] footer p,
[epub|type~="z3998:verse"] footer p{
    margin-right: 1em;
    margin-top: 1em;
    text-align: right;
}
/* End footers */

/* Italicized text */
q,
#to-aurelio-saffi p:first-of-type span:nth-of-type(-n+3),
#a-story-of-the-sea-shore div:nth-of-type(3) p:nth-of-type(8) span:nth-of-type(6),
#the-disciple div:nth-of-type(2) > p:nth-of-type(10) span:nth-of-type(n+3),
#a-prayer-for-the-past p:nth-of-type(-n+7),
#a-prayer-for-the-past p:nth-of-type(14),
#a-prayer-for-the-past p:nth-of-type(n+20):nth-of-type(-n+22),
#a-prayer-for-the-past p:nth-of-type(n+27), 
#little-boy-blue p:nth-of-type(-n+4) span:nth-of-type(even),
#little-boy-blue p:nth-of-type(79) span:nth-of-type(even),
#a-meditation-of-st-eligius p:nth-of-type(-n+3){
	font-style: italic;
}
